// @import url('https://fonts.googleapis.com/css?family=Raleway:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  background: #EFF1F0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #7c7c7c;
  border-radius: 1px;
}