@import url('https://fonts.googleapis.com/css?family=Raleway:400,900&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  background: #494949;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}