.favorites {
  animation: fadein 2s;

  &__container {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
  }

  &__card {
    width: 700px;
    padding: 0 20px 20px 20px;
    border-bottom: solid 1px #000000;
    margin: 0 0 20px 0;
    display: flex;
  }

  &__link {
    display: flex;
    text-decoration: none;
  }

  &__img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 0 35px 0 0;
    box-shadow: 0px 0px 15px 0px rgba(#000000, 0.75);
    object-fit: cover;
  }

  &__header {
    width: 435px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    color: #000000;
  }

  &__list {
    height: 100px;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #000000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.background {
  background: rgb(243, 243, 243);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
