@import '../../styles/Variables/colors.scss';
@import '../../styles/Mixins/font-styles.scss';
@import '../../styles/Mixins/media-queries.scss';

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include laptop-view() {
    width: 1080px;
    flex-direction: row;
  }
}