.modal {
  &__add {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    outline: none;
    background: #000000;
    position: fixed;
    top: 73vh;
    right: 215px;
    z-index: 3;
    cursor: pointer;
  }

  &__body {
    width: 608px;
    height: 650px;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 48px 50px 0px 50px;
    background-color: white;
    outline: none;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__list {
    padding: 0;
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
  }

  &__ingredient {
    text-decoration: none;
    color: #000000;
    
    &:hover {
      color: rgba(#000000, 0.5);
    }
  }

  &__price {
    width: 100px;
  }

  &__result {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__submit {
    font-family: inherit;
    font-weight: 600;
    width: 110px;
    height: 40px;
    background: black;
    border: none;
    border-radius: 15px;
    color: #EFF1F0;
    outline: none;
    cursor: pointer;
  }
}