.creations-modal {
  &__add {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    outline: none;
    background: #000000;
    position: fixed;
    top: 73vh;
    right: 215px;
    z-index: 3;
    cursor: pointer;
  }

  &__body {
    width: 608px;
    height: 650px;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 48px 50px 0px 50px;
    background-color: white;
    outline: none;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }

  &__icon-add {
    width: 24px;
    height: 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__image {
    display: none;
  }

  &__image-label {
    width: 110px;
    height: 22px;
    padding: 3px;
    border-radius: 5px;
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 13px;
    background: #000000;
    color: #ffffff;
  }

  &__name {
    height: 28px;
    padding: 0 0 0 10px;
    border: solid 1px silver;
    border-radius: 4px;
    margin: 0 0 10px 0;
    font-family: inherit;
    outline: none;
  }

  &__box {
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
  }

  &__type {
    width: 245px;
    padding: 0 0 0 7px;
    height: 28px;
    border: solid 1px silver;
    border-radius: 4px;
    font-family: inherit;
    outline: none;
  }

  &__glass {
    width: 245px;
    padding: 0 0 0 10px;
    height: 28px;
    border: solid 1px silver;
    border-radius: 4px;
    font-family: inherit;
    outline: none;
  }

  &__instructions {
    height: 70px;
    border: solid 1px silver;
    border-radius: 4px;
    margin: 0 0 10px 0;
    resize: none;
    font-family: inherit;
    outline: none;
    padding: 6px 0 0 10px;
  }

  &__ing-label {
    margin: 0 0 10px 0;
  }

  &__stats {
    display: flex;
    justify-content: space-between;
  }

  &__ingredients {
    width: 245px;
    height: 28px;
    border: solid 1px silver;
    border-radius: 4px;
    margin: 0 0 10px 0;
    font-family: inherit;
    outline: none;
    padding: 0 0 0 10px;
  }

  &__measurements {
    width: 245px;
    height: 28px;
    border: solid 1px silver;
    border-radius: 4px;
    margin: 0 0 10px 0;
    font-family: inherit;
    outline: none;
    padding: 0 0 0 10px;
  }
}
