$black: #323232;
$silver: #AFAFAF;
$mercury: #D5D2D1;
$alabaster: #FAFAFA;
$instock-blue: #004892;
$instock-blue-dark: #002F5F;
$brainflix-blue-light: #0095FF;
$brainflix-blue: #0065AD;
$white: #FFFFFF;