.display-drinks {
  height: calc(475vw / 15.36);
  padding: 30px 0 0 0;
  background: radial-gradient(#f1f1f1, #cecece, #a3a3a3, #797979, #4e4e4e);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__button-container {
    width: 30vw;
    margin: 0 0 30px 0;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    height: 30px;
    padding: 0 10px;
    font-family: inherit;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 15px;
    outline: none;
    background: linear-gradient(#4e4e4e, #797979, #a3a3a3);

    &:hover {
      background: linear-gradient(#a3a3a3, #797979, #4e4e4e);
    }
  }

  &__display {
    display: flex;
    justify-content: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: fadein 2s;
  }

  &__img {
    width: calc(150vw / 15.36);
    height: calc(385vw / 15.36);
    object-fit: cover;
    opacity: 0.9;
    transition: opacity 1s;

    &:hover {
      opacity: 0.5;
      transition: opacity 1s;
    }
  }

  &__name {
    color: white;
    position: absolute;
    bottom: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}