@font-face {
  font-family: "avenir next";
  src: url('./AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: "avenir next demi bold";
  src: url('./AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf') format('opentype');
}

@font-face {
  font-family: "avenir next bold";
  src: url('./AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf') format('opentype');
}