.top {
  &__button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: #000000;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 3;
    cursor: pointer;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}