.hero {
  background: rgba(#000000, 0.8);
  // background: radial-gradient(rgba(#FFFFFF, 0.1), rgba(#FFFFFF, 0.4));
  display: flex;
  flex-direction: column;

  &__img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.5;
    filter: blur(1px);
  }

  &__container {
    height: 80vh;
    padding: 0 0 20px 0;
    font-size: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    position: absolute;
    top: 20vh;
  }

  &__logo {
    margin: 0 0 70px 0;
  }

  &__discover {
    width: 300px;
    margin: auto 0 0 0;
  }
}