.hero {
  width: 100vw;
  height: 100vh;
  background: #EFF1F0;
  display: flex;
  flex-direction: column;

  &__img {
    width: 40vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    right: 0;
  }

  &__filter {
    width: 40vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    right: 0;
    background: linear-gradient(to left, rgba(#EFF1F0, 0), rgba(#EFF1F0, 1));
    z-index: 1;
  }

  &__text {
    height: 80vh;
    padding: 0 0 0 180px;
    font-size: 30px;
    color: #000000;
    position: absolute;
    top: 20vh;
  }

  &__msg {
    margin: 38px 0 50px 0;
  }

  &__slogan {
    margin: 0;

    &--orange {
      color: #ff7300;
    }
  }

  &__search {
    width: 600px;
    height: 40px;
    padding: 0 0 0 10px;
    border: solid 2px black;
    border-radius: 10px;
    outline: none;

    &:focus {
      border-color: #ff7300;
    }
  }

  &__button-container {
    width: 300px;
    position: absolute;
    left: calc(180vw / 15.36);
    bottom: calc(130vw / 15.36);
    display: flex;
    justify-content: space-between;
  }

  &__button {
    font-family: inherit;
    font-weight: 600;
    width: 110px;
    height: 40px;
    background: black;
    border: none;
    border-radius: 15px;
    color: #EFF1F0;
    outline: none;
  }
}